*.iml
*.bat
*.zip
local.properties
*.hprof
/captures
~$*
gradlew
.DS_Store
.gradle
gradle/wrapper/gradle-wrapper.jar
build
/*/build
proguardMapping.txt

#.idea相关
/.idea/caches
.idea/dictionaries/*
!.idea/dictionaries/dictionaries.xml
/.idea/libraries
.idea/markdown*
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.externalNativeBuild
.cxx

# 安装包
/debug
/release
/*/debug
/*/release